# Для локального запуска
CONTEXT=local
remote_url=http://localhost:4723/wd/hub
platform_name=Android
platform_version=11.0
device_name=emulator-5554
app=./app-alpha-universal-release.apk

# Для BrowserStack (скопируй в .env.browserstack и заполни свои данные)
# CONTEXT=browserstack
# remote_url=http://hub.browserstack.com/wd/hub
# platform_name=Android
# platform_version=11.0
# device_name=Google Pixel 4
# app_package=org.wikipedia.alpha
# app_activity=org.wikipedia.main.MainActivity
# browserstack_username=bsuser_Xx27w9
# browserstack_access_key=FQpd6RYkqyzg9hgxYHzy